@import "../../vars.css";

.container{
    display: flex;
    flex-direction: row;
    padding: 15%;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 40%;
    height: 40%;
    transition: 1s;
    border-radius: 100%;
}

.img:hover{
    border-radius: 25px;
}

.containerTxt{
    width: 40%;
}
.containerTxt h2{
    font-family: var(--font-lora);
    font-weight: 400;
    font-size: 30px;
    color: var(--color-gold);
}


.containerTxt p{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}
