@import "../../vars.css";

.container{
    display: flex;
    flex-direction: row;
    padding: 15%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -250px;
}

.img{
    width: 40%;
    height: 40%;
    transition: 1s;
    border-radius: 100%;
}

.img:hover{
    border-radius: 25px;
}

.containerTxt{
    width: 40%;
}
.containerTxt h2{
    font-family: var(--font-lora);
    font-weight: 400;
    font-size: 30px;
    color: var(--color-gold);
}


.containerTxt p{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.line{
    margin-top: 50px;
    height: 1px;
    width: 60%;
    background-color: var(--color-gold);
    display: none;

}

@media screen and (max-width: 830px) {

    .line{
        display: block;
    }

    .containerTxt{
    width: 80%;
    }

    .container{
        margin-top: 50px;
        padding: 5%;
        flex-direction: column;
        margin-bottom: 0;
    }

    .img:hover{
        border-radius: 100%;
    }
}


/*Media Query Iphone*/
@media screen and (max-width: 420px) {
.img{
    border-radius: 10px;
}
  

}