@import "../vars.css";

.gradient{
    background-image: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
}

.container{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
}

.title{
    margin-top: 25px;
    margin-left: 5%;
    font-family: var(--font-lora);
    color: var(--color-gold);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.division {
    background-color: var(--color-gold);
    height: 1px;
    width: 50%;
    margin-left: 5%;
}

.roomContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: var(--color-primary);
    border-radius: 20px;
}

.roomImg{
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    padding: 1vw;
    transition: 0.3s;
}


.detail{
    padding: 25px;
}

.detail h3{
 font-family: var(--font-roboto);
 font-weight: 500;
 font-size: 25px;
}

.parrafo {
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 16px;
}

.precio {
    padding: 5px;
    font-family: var(--font-roboto);
    font-weight: 600;
    font-size: 30px;
    color: grey;
    text-align: right;
}

.buttonLocation{
    text-align: center;
}
.button {
    border: none;
    background-color: var(--color-gold);
    font-family: var(--font-roboto);
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}




@media screen and (max-width: 830px) {
    .roomContainer{
    flex-direction: column;   
    }

    .container{
    margin-left: 10%;
    margin-right: 10%;
}
}
