@import "../../vars.css";

.home{
    margin-top: 200px;
    align-items: center;
}

.text{
    font-size: 80px;
    text-align: center;
    font-family: var(--font-lora);
}

.form {
    
    text-align: center;
    font-family: var(--font-roboto);
}

/*Media Query Iphone*/
@media screen and (max-width: 420px) {
    .home{
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .text{
        font-size: 15vw;
    }
    

}