@import "../../vars.css";

.container{
    text-align: center;
    color: var(--color-primary);
    
}

.imgBg {
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -100px;
    background-image: url(../../../public/assets/Contact/ripples.png);
    background-repeat: repeat;
    background-size: auto;
    overflow: hidden;
}

.title {
    margin-top: 25px;
    font-family: var(--font-lora);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}



.form input{
    padding: 15px;
    width: 25%;
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 15px;
    color: var(--color-gold);
    border: none;
    background-color: var(--color-primary);
}

.form textarea {
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    height: 300px;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: 300;
    color: var(--color-gold);
    border: none;
    background-color: var(--color-primary);
}

.form button {
    margin-top: 15px;
    width: 100px;
    background-color: var(--color-gold);
    border: none;
    font-size: 20px;
    font-family: var(--font-roboto);
    font-weight: 100;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}


.linea{
    margin: 0 auto;
    background-color: var(--color-primary);
    height: 2px;
    width: 50%;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 0.5;
}

.redes {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 70px;
    
}

.redes div img {
    width: 40px;
    cursor: pointer;
}

.redes div p {
    cursor: pointer;
}