/* Footer Styles */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.disclaimer {
  width: 60%;
}

.contactInfo {
  width: 40%;
}

.contact-info p {
  margin: 5px 0;
}

@media screen and (max-width: 830px) {
  .footer-content {
    flex-direction: column;
  }

  .disclaimer,
  .contact-info {
    width: 100%;
    margin-bottom: 20px;
  }
}
